.img-input {
  background: #0b0c0f;
  padding: 11px 12px;
  color: #fff;
  border-radius: 8px;
  flex: 1;
  outline: 1px solid #535861;
}

.img-input::placeholder {
  color: #535861;
}
.img-input:focus {
  outline-color: #c65ec6;
}

.row {
  display: flex;
  gap: 24px;
  align-items: center;
}

.label {
  color: #535861;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  border: 1px solid #535861;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.with-img-input {
  display: flex;
  gap: 16px;
  cursor: pointer;
  width: 100%;
}

.input-field {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  outline: 1px solid #535861;
  transition: all 0.2s ease;
}

.input-field:focus {
  outline-color: #c65ec6;
  box-shadow: 0 0 0 2px rgba(198, 94, 198, 0.1);
}

.file-input-container {
  position: relative;
  min-width: 40px;
  overflow: hidden;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
  width: 207px;
  height: 210px;
  background-color: #0b0c0f;
}

.hidden-file-input {
  display: none;
}

.selected-file {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(59, 130, 246, 0.1);
  border-radius: 8px;
  width: 207px;
  height: 210px;
}

.file-name {
  font-size: 12px;
  color: #fff;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-file-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 2px;
  color: #c65ec6;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.remove-file-btn:hover {
  color: #fff;
}

.text-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-fields > ::placeholder {
  color: #535861;
  font-size: 16px;
  font-weight: 500;
}

.file-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(59, 130, 246, 0.1);
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
}

.file-preview > button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #141414;
  border: none;
  padding: 4px;
  color: #c65ec6;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.image-preview {
  width: 100%;
  height: 100%;
  width: 207px;
  height: 210px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 570px) {
  .with-img-input {
    flex-direction: column;
    align-items: center;
  }

  .text-fields {
    width: 100%;
  }
}
