.verification {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.verification > h1 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.description {
  color: #b4b7bd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: -8px;
}

.policyGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

.policyCard {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #535861;
  border-radius: 8px;
  border: 1px solid #535861;
  background: #0b0c0f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  padding: 16px 24px;
  transition: all 0.2s ease;
}

.policyCard:hover {
  border-color: #888;
  color: #fff;
}

.policyCard.selected {
  border-color: #fff;
  color: #fff;
}

.policyIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.policyName {
  font-weight: 500;
}

.policyCard:nth-child(1) {
  padding: 16px 48px;
}

/* Policy Configuration Styles */
.configContainer {
  margin-top: 24px;
  padding: 24px;
  border-radius: 12px;
  background: rgba(11, 12, 15, 0.5);
  border: 1px solid #2a2d36;
}

.configTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.policyConfig {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.configField {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.feedback {
  color: #a9a9a9; /* Light grey for feedback text */
  font-size: 14px;
  margin-top: -8px; /* Adjust spacing to be closer to the input field */
}

.configField label {
  color: #b4b7bd;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}

.configField input {
  background: #0b0c0f;
  padding: 11px 12px;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #535861;
  font-size: 14px;
  width: 100%;
  transition: border 0.2s ease;
}

.configField input:focus {
  outline: none;
  border: 1px solid #fff;
}

.configField input::placeholder {
  color: #535861;
}

.configField input:valid + .tokenDetails {
  display: block;
}

.configField input:invalid + .tokenDetails {
  display: none;
}

@media (max-width: 620px) {
  .policyGrid {
    flex-direction: column;
  }

  .policyCard {
    width: 100%;
  }
}
