.box {
  display: flex;
  padding: 0px 4px;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 0.25px solid #535861;

  background: #141414;
}

.box > button {
  width: 16px;
}

.box > input {
  background: #0b0c0f;
  padding: 4px 4px;
  color: #fff;
  border-radius: 8px;
  outline: 1px solid #535861;
  max-width: 60px;
  min-width: 60px;
}

.box > input.invalid,
.box > input.invalid:focus {
  outline: 1px solid #dc3545;
}

.box > input {
  text-align: center;
  outline: none;
}

.box > input:focus {
  outline: 1px solid #fff;
}

.weightInput::-webkit-outer-spin-button,
.weightInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.weightInput[type="number"] {
  -moz-appearance: textfield;
}

.mw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.vote-weight {
  color: #8c98a9;
  font-size: 14px;
}
