.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 24px;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  min-height: 100lvh;
  padding: 2rem;
  padding-bottom: 1rem;
}

.poll-wrapper {
  width: 100%;
  max-width: 1155px;
  padding-inline: 24px;
  margin-inline: auto;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.polls-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1155px;
  margin-inline: auto;
  padding: 24px;
  width: 100%;
}

.polls-container > h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.search-poll-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .poll-wrapper {
    padding-inline: 1rem;
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .main-page {
    padding: 0rem 1rem;
  }

  .polls-container {
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .polls-container {
    gap: 24px;
  }

  .polls-container h2 {
    margin-bottom: 0px;
  }

  .poll-wrapper {
    padding-inline: 12px;
  }
}
