.container,
.main-container {
  width: 100%;
  min-height: 100vh;
  min-height: 100lvh;
  max-width: 1155px;
  margin-inline: auto;
  background: var(--background-primary);
  padding-top: 6rem;
  padding-inline: 1rem;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-container > div {
  flex: 1;
}

.back {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-primary);
  text-decoration: none;
  margin-bottom: 2rem;
  position: sticky;
  top: 80px;
}

.back:hover {
  opacity: 0.8;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}

.heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
}

@media (max-width: 768px) {
  .container {
    padding: 6rem 1rem 1rem 1rem;
  }

  .back {
    margin-bottom: 1.5rem;
  }
}
