.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #0b0c0f;
  border: 1px solid #535861;
  border-radius: 12px;
  padding: 24px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 500px;
  position: relative;
  color: #fff;
  box-shadow: 0px 0px 12.5px 0px rgba(223, 223, 223, 0.05);

  /* Hide scrollbar for webkit browsers (Chrome, Safari, Edge) */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.modalContent::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.closeButton {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
  margin-left: auto;
}

.closeButton:hover {
  color: #fff;
}

.modalBody {
  width: 100%;
}
